@font-face {
    font-family: AN;
    src: url("Fonts/AbandoN.ttf");
}
@font-face {
    font-family: AG;
    src: url("Fonts/Alternate\ Gothic\ No2\ D\ Regular.ttf");
}
@font-face {
    font-family: AB;
    src: url("Fonts/Arabella.ttf");
}
@font-face {
    font-family: AR;
    src: url("Fonts/ARIBLK.TTF");
}
@font-face {
    font-family: BB;
    src: url("Fonts/BOOMBOX.TTF");
}
@font-face {
    font-family: DC;
    src: url("Fonts/Dodgv2c.ttf");
}
@font-face {
    font-family: DF;
    src: url("Fonts/DragonForcE.ttf");
}
@font-face {
    font-family: EB;
    src: url("Fonts/Exo2-Black.ttf");
}
@font-face {
    font-family: HP;
    src: url("Fonts/HARRYP__.TTF");
}
@font-face {
    font-family: HH;
    src: url("Fonts/hemi\ head\ bd\ it.ttf");
}
@font-face {
    font-family: LM;
    src: url("Fonts/LemonMilkBold-gx2B3.otf");
}
@font-face {
    font-family: MCF;
    src: url("Fonts/MerryChristmasFlake.ttf");
}
@font-face {
    font-family: MCS;
    src: url("Fonts/MerryChristmasStar.ttf");
}
@font-face {
    font-family: MD;
    src: url("Fonts/MrDafoe-Regular.ttf");
}
@font-face {
    font-family: NG;
    src: url("Fonts/Neuzeit\ Grotesk\ Cond\ W01\ Black.otf");
}
@font-face {
    font-family: PS;
    src: url("Fonts/PrincessSofia-Regular.ttf");
}
@font-face {
    font-family: RB;
    src: url("Fonts/Rumburak.ttf");
}
@font-face {
    font-family: SF;
    src: url("Fonts/Satisfaction.ttf");
}
@font-face {
    font-family: GL;
    src: url("Fonts/Gecko\ Lunch.ttf");
}
@font-face {
    font-family: OG;
    src: url("Fonts/Omegle.otf");
}
@font-face {
    font-family: HM;
    src: url("Fonts/Header Marker.otf");
}
